<%- include("partials/header.ejs") %>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">About Me</h1>
      <p class="lead text-body-secondary">
        Simple To Do List Web Application designed by Vincent Agasen for
        educational purposes. Note: The data are only saved during your session.
      </p>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
